<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load static %}  <!-- 로드 스테틱은 무조건 스테틱 불러오기 맨 앞에 , css, js, images 로딩 최상단에 위치 -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <title>Title</title>
</head>
<body>
<!-- 전체 container   -->
<div class="container">
    <!--제목-->
    <div class="text-start mb-5">
        <h2>질문 목록</h2>
    </div>
    <!--        제목 end-->
</div>
<!--    table-->
<div class="container">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr class="table-dark">
                <th scope="col" class="text-center">No.</th>
                <th scope="col" class="text-center">제목</th>
                <th scope="col" class="text-center">내용</th>
                <th scope="col" class="text-center">작성일</th>
                <th scope="col" class="text-center">조회수</th>
            </tr>
        </thead>
        <tbody>
        {% if question_list %}
            {% for question in question_list %}
            <tr>
                <td class="text-center">{{question.id}}</td> <!--가운데 정렬-->
                <td><a href="{% url 'pybo:detail' question.id %}">{{question.subject}}</a></td> <!--왼쪽 정렬-->
                <td class="text-center">{{question.content}}</td>
                <td class="text-center">{{question.create_date|date:"Y-m-d"}}</td>
                <td class="text-end">1</td>     <!--오른쪽 정렬-->
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="99">질문이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% csrf_token %}
</div>
<!--    table end-->

<!-- pagination -->
<div class="d-grid gap-2 d-md-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- pagination end -->

<!-- 전체 container end  -->
</body>
</html>